/* Cores */
:root {
    --primary: #612F74;
    --bg: #F2F2F2;
}

/* Tipografia */
body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}



/* Cabeçalho */
header {
    background-color: var(--primary);
    color: #fff;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3rem;
}

nav a {
    font-weight: bold;
}

nav a i {
    color: #8c62aa;
    transform: rotate(0deg);
    transition: .3s;
}

nav a:hover i {
    transform: translateY(-3px);
    transform: rotate(90deg);
}

/* Conteúdo */
section {
    color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #2b2b2b;
    margin: 1rem auto;
    max-width: 800px;
}

/* Caixas de serviço */

.service-box {

    display: inline-block;
    width: 30%;
    min-width: 300px;
    margin: 1%;
    border-color: #9b59b6;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.service-box:hover {
    background-color: #9b59b6;
    ;
    color: #fff;
    transform: translateY(-5px);
}

.service-box img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Caixas de projeto */

.project-box {
    display: inline-block;
    width: 45%;
    margin: 1%;
    border: 2px solid #9b59b6;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
}

.project-box:hover {
    transform: translateY(-5px);
    background-color: #9b59b6;
    color: #fff;
}

.project-box img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* Botão */

.btn {
    display: inline-block;
    background-color: #9b59b6;
    ;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #bc06c2;
}

/* Rodapé */
footer {
    border-radius: 10px 10px 0 0;
    background-color: var(--primary);
    color: #fff;
    padding: 2rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer a {
    color: #8c62aa;
}

footer a:hover {
    opacity: .8;
}